@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%; /* Very Light Gray */
    --foreground: 210 40% 9%; /* Dark Charcoal */
    --card: 0 0% 100%;
    --card-foreground: 210 40% 9%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 40% 9%;
    --primary: 200 30% 35%; /* Moderate Calm Blue */
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 90%; /* Warm Gray */
    --secondary-foreground: 210 40% 9%;
    --muted: 210 20% 90%;
    --muted-foreground: 210 20% 40%;
    --accent: 150 20% 45%; /* Muted Green */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 85%;
    --input: 210 20% 85%;
    --ring: 200 30% 35%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 40% 9%;
    --foreground: 0 0% 98%;
    --card: 210 40% 9%;
    --card-foreground: 0 0% 98%;
    --popover: 210 40% 9%;
    --popover-foreground: 0 0% 98%;
    --primary: 200 30% 65%;
    --primary-foreground: 210 40% 9%;
    --secondary: 210 20% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 210 20% 30%;
    --muted-foreground: 210 20% 60%;
    --accent: 150 20% 55%;
    --accent-foreground: 210 40% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 35%;
    --input: 210 20% 35%;
    --ring: 200 30% 65%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer components {
  .link {
    @apply cursor-pointer underline w-fit;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}